body {
    background-color: #efcc19;
    display: flex;
    flex-direction: row;
    font-family: 'Chivo Mono', monospace;
}

.wrapper {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetris-container {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
}

.row {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(215, 215, 252); */
    min-height: 20px;
    min-width: 20px;
}

.cell {
    height: 30px;
    width: 30px;
    background-color: #99B086;
    display: grid;
    place-items: center;
}
.cell-lvl-1 {
    height: 26px;
    width: 26px;
    border: solid #99B086 2px;
    background-color: #839470;
    display: grid;
    place-items: center;
}
.cell-lvl-2 {
    height: 18px;
    width: 18px;
    border: solid #99B086 2px;
    background-color: #839470;
    display: grid;
    place-items: center;
}

#score {
    font-size: 40px;
}

/* inner white */
/* middle magenta */
/* outer cyan */

/* #r2c6 {
    border-radius: 5%;
    background-color: #fff;
    box-shadow:
      0 0 1px 2px #fff,  
      0 0 2px 4px #f0f, 
      0 0 5px 10px #0ff; 
  } 
*/